.auth__form{
    background: var(--primary-color);
    padding: 40px;
    border-radius: 5px;
}

.auth__btn{
    background: #fff !important;
    color: var(--primary-color);
    font-weight: 600;
}

.at{
    text-decoration:none;
    color: #ffffffd0;
}

.auth__form p {
    margin-top: 30px;
}

.form__group input{
    text-align: center;
}
.form__group input[type='file']{
    color: #fff;
    cursor: pointer;
}